<div class="container">
   <h1>Pomodoro</h1>
    <div class="row">
    <div class="col-md-6">
<!--    <div [hidden]="enviat">-->

   <form (ngSubmit)="afegirTasca(entrada.value)" #alumneForm="ngForm">
     <div class="form-group">

         <div class="col-md-12"><label for="nom"><h3>Introdueix Tasques</h3></label></div>
         <div class="col-md-8">
       <input #entrada type="text" class="form-control" required
         [(ngModel)]="model"
           ngControl="nom"  #nom="ngForm" >

       <div [hidden]="nom.valid" class="alert alert-danger"> <!-- nom.valid és d'angular, no cal programar-ho -->
         Tasca Obligatòria
       </div>
         </div>
         <div class="col-md-4">
     <button type="submit" class="btn btn-primary"
             [disabled]="!alumneForm.form.valid">Introdueix Tasques</button>
       </div>
     </div>



    </form>


     <div class="row mt10 plr15">
     <div [hidden]="!enviat" class="col-md-12">

    <h3>Llista de Tasques</h3>
     <ul id="llista-tasques" class="list-group">
        <div *ngFor="#tasca of llistat" >
            <li *ngIf="!tasca.acabat" class="list-group-item list-group-item-warning">{{ tasca.nom }}</li>
            <li *ngIf="tasca.acabat" class="list-group-item list-group-item-success">{{ tasca.nom }}</li>
        </div>
    </ul>
         </div>
 </div>
</div>
<!-- <div [hidden]="!enviat">-->
    <div [hidden]="!enviat" class="col-md-6">
    <form (ngSubmit)="foo" >
   <div class="form-group">
       <div class="col-md-12"><label for="curs"><h3>Tasques a Fer</h3></label></div>
       <div class="col-md-8"><select class="form-control" required
         [(ngModel)]="model.llistat"
           ngControl="llistat" #curs="ngForm" >
         <option *ngFor="#t of llistat" [value]="t">{{t.nom}}</option>
           </select>
       <div [hidden]="curs.valid" class="alert alert-danger">
         Tasca a fer obligatòria
       </div>
     </div></div>

     <div class="col-md-4"><button type="submit" class="btn btn-primary"
             [disabled]="!alumneForm.form.valid">Fer tasca</button></div>
    </form>



    </div>



 </div>





</div>
